/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }

   @font-face {
font-family: "Harabara Bold";
src: url("css/fonts/Harabara.eot");
src:
url("css/fonts/Harabara.woff") format("woff"),
url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");
}



   body {
     font-family: Futura-PT, "Trebuchet MS", Arial, sans-serif;
     margin: 1em;
   }

   p {
     font-family: UNW, "Trebuchet MS", Arial, sans-serif;
     font-weight: lighter;
     display: block;
     text-align: center;
   }

   .about-company p {
     max-width: 60%;
    transform: translate(35%, -20%);
    }

   h2 {
     font-family: Cochin Italic, cursive;
     font-size: .7em;
     display: block;
     text-align: center;
     font-weight: lighter;
   }

   img {
     max-width: 100%;
     display: block;
  }

  h3,
  h4,
  h5 {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: lighter;
  }

  a {
    text-decoration: none;
  }

  .big-picture img {
    margin: 1em;
    padding-right: 2em;
    padding-bottom: .75em;
    padding-top: 5em;
  }

  .about-company {
    margin: 1em;
  }

  .about-company img {
    margin: auto;
  }

  .products {
    margin: 1em;
    padding: 3em 1em;
    background-color: #E7E7E7;

  }

  .product-thumb h3 {
    text-decoration: none;
    color: #8085A1;
    font-weight: 400;
    font-size: .8em;
    letter-spacing: .075em;
  }

  .product-thumb {
    position: relative;
    width: 33%;
    float: left;
    padding-bottom: 2em;
  }

  .email {
    text-align: center;
  }

/*header*/


  .page-header {
     background-color: white;
     color: black;
     position: relative;
     padding: 1em;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 100;
     padding: 1em;
   }

   .page-header h1 {
     font-size: 1.5em;
     font-weight: lighter;
     line-height: 1;
     text-transform: uppercase;
     text-align: center;
     margin: 0;
     padding-bottom: .5em;
   }

 .page-header h2 {
     line-height: 1;
     text-align: center;
     margin: 0;
   }


   .page-header.nav-icon {
     float: right;
     right: 1em;
   }


   .sign-up {
       border-top: solid 1px #EEEEEE;
       padding-top: 4em;
       margin-top: 2em;
       margin-left: 1em;
       margin-right: 1em;
   }

   .about-company img{
     margin-left: 1em;
     margin-right: 1em;
   }

   .more {
    position: relative;
    text-align: center;
    color: white;
  }

  .more img {
    margin-top: -3em;
  }

  .bottom-right {
    position: absolute;
    bottom: 3em;
    right: 3em;
  }

  h4 {
    padding-bottom: 1em;
  }

/*nav*/
  .main-nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 2em;
  }

   .main-nav ul {
    float: left;
  	list-style-type: none;
  	padding-left: 1em;
  	margin: 0;
  }

  .main-nav li {
	   display: inline-block;
	   padding: .75em;
   }

   .main-nav a {
     text-decoration: none;
     color: black;
     font-size: .75em;
   }

   .main-nav i {
     float: right;
     padding: 1em;
   }


/*footer*/
.page-footer {
    border-top: solid 1px #EEEEEE;
    padding-top: 0;
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

 .page-footer p {
   float: left;
    color: #C1C1C1;
    font-size: .75em;
  }



.footer-nav ul {
   bottom: 0;
   list-style-type: none;
   padding: 0;
   margin-bottom: -2.75em;
   display: block;
   text-align: center;
}

.footer-nav li {
  display: inline-block;
  padding: .75em;
}

.footer-nav i {
  float: right;
  padding: 1em;
}

.footer-nav a {
  color: black;
  font-size: .75em;
  text-decoration: none;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
